# Ignore only subdirectories under `dataset/` (keep files in `dataset/` root)
# Ignore immediate child directories and all their contents
dataset/*
**/dataset/*
results/*
**/results/*


# file
*.csv
*.png
*.npy
*.pth
*.json
*.pt
*.pyc
*.pyd
*.lib
*.cleaned
events*
*.bin
*.txt
*.safetensors
*.yaml
*.pyx
*.wav
core*